
@import url('stylecommuncog.css');

html { 
  margin:0;
  padding:0;
  background: url(bgcerveau.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

h1{
	/*margin-top: 4cm;
	margin-bottom: 1cm;*/
	text-align: center;
}

#contenu{
	margin-left: 2cm;
	margin-right: 4cm;
	padding-bottom:2cm;
}



#signature{
	height: 15%;
	width: 15%;
}

#garde{
	text-align: center;
}

#garde img{
	height: 400px;
}

#texte
{
	display: none;
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#333333;
}

button{
	font-size: 11pt;
}

#logo
{
    height: auto;
}
