
@import url('stylecommuncog.css');

p {
	text-align: justify;
	margin-right: 4cm;
	margin-left: 2cm;
}

#d1,#d2{
	display: none;
}

textarea, #togg1,#togg2{
	margin-right: 4cm;
	margin-left: 2cm;
}

h1{
	margin-top: 4cm;
}

header{
	text-align: center;
	margin-bottom: 1cm;

}



#togg1,#togg2{
	font-size: 11pt;
}

#graphique{
	height: 300px;
	margin-left: 2cm;
}

