 * {
	//font-family:'audimat';
	font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    	font-weight: 400;
    	text-rendering: optimizeLegibility;
    	-webkit-font-smoothing: antialiased;
}
html { 
  margin:0;
  padding:0;
 /* background: url(fondecrancerveau.png) no-repeat center fixed; 
  -webkit-background-size: cover;  pour anciens Chrome et Safari 
  background-size: cover; version standardisée */
}

nav{
	margin-left:2cm;
	
nav ul li{
	list-style: none;
	display: inline;
}

nav ul{
	padding: 3px 0;
	margin: 10px 0px 10px 0px;
	border-bottom: 1px solid #778;
}

nav ul li a{
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #669;
	border-bottom: none;
	background: #ff551026;/*#ccf;*/
	text-decoration: none;
}

nav ul li a#encours{
	background: white;
	border-bottom: 1px solid white;
}

#wrapper{
	/*margin-right: 4cm;
	margin-left: 2cm;*/
	background-repeat: no-repeat;
	background-image: url('imagefond.svg');
	background-position: right;
}

#logo{
	height:10%;
	width:15.5%;
	position:absolute;
	left : 10px; 
	top : 10px;
	margin-left: 1.2cm;
	margin-top: 1cm;
}

/*#licence{
	text-anchor: right;
	font-size: 15px; 
}*/


.des-obj, .ressources{
	border: 1px solid black; 
	padding: 5px;
	/*margin-left: 2cm;
	margin-right: 4cm;*/
}


#licence{
	height: 30px;
	position: absolute;
	margin-right: 4cm;
	margin-top: 2cm;
	right: 10px;
	top:0px;
}

/*iframe{
	margin-right: 4cm;
	margin-left: 2cm;
}*/
