
@import url('stylecommuncog.css');

html { 
  margin:0;
  padding:0;
  background: url(bg.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

h1{
	/*margin-top: 4cm;
	margin-bottom: 1cm;*/
	text-align: center;
}

#contenu{
	margin-left: 2cm;
	margin-right: 4cm;
}

#consigne{
	border: 1px solid black;
	margin-bottom:1cm;
	padding: 5px;
	margin-left: 0cm;

.fiches{
	margin-top: 10px;
	margin-bottom: 10px;
}
