
@import url('stylecommuncog.css');
html { 
  margin:0;
  padding:0;
  background: url(bg.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

#wrapper{
	background-repeat: no-repeat;
	background-image: url('imagefond.svg');
	background-position: right;
}

p {
	text-align: justify;
	margin-right: 4cm;
	margin-left: 2cm;
}

#d1,#d2,#d3{
	display: none;
}

textarea, #togg1,#togg2,#togg3{
	margin-right: 4cm;
	margin-left: 2cm;
}

h1{
	text-align: center;
}

header{
	margin-bottom: 1cm;

}


#togg1,#togg2,#togg3{
	font-size: 11pt;
}

#graphique{
	height: 300px;
	margin-left: 2cm;
}

