* {
	font-family:'Arial narrow';
	line-height: 1.5; 
}

nav{
	margin-left: 2cm;
}

nav ul li{
	list-style: none;
	display: inline;
}

nav ul{
	padding: 3px 0;
	margin: 10px 0px 10px 0px;
	border-bottom: 1px solid #778;
}

nav ul li a{
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #669;
	border-bottom: none;
	background: #ccf;
	text-decoration: none;
}

nav ul li a#encours{
	background: white;
	border-bottom: 1px solid white;
}

#wrapper{
	margin-right: 4cm;
	/*margin-left: 2cm;*/
	background-repeat: no-repeat;
	background-image: url('imagefond.svg');
	background-position: right;
}

.des-obj, .ressources{
	border: 1px solid black; 
	padding: 5px;
	margin-left: 2cm;
	margin-right: 4cm;
	margin-top: 30px;
}


#sources{
	margin-left: 0cm;
	margin-right: 0cm;
	font-size: 80%;
}


#logo{
	max-width: 15%;
   	height: auto;
	margin-top:2cm;
	margin-left:4cm;
}

#licence{
	height: 30px;
	position: absolute;
	margin-right: 4cm;
	margin-top: 2cm;
	right: 10px;
	top:0px;
}

iframe{
	margin-right: 4cm;
	margin-left: 2cm;
}

p, button, textarea{
	font-size: 14px;
}
