
@import url('stylecommuncog.css');
html { 
  margin:0;
  padding:0;
  background: url(bg.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

p {
	text-align: justify;
	margin-right: 4cm;
	margin-left: 2cm;
}

#d1,#d2,#d3,#reponse{
	display: none;
}

textarea, #togg1,#togg2,#togg3{
	margin-right: 4cm;
	margin-left: 2cm;
}

h1, h2{
	text-align: center;
}

header{
	margin-bottom: 1cm;

}


#togg1,#togg2,#togg3{
	font-size: 11pt;
}

#graphique{
	height: 300px;
	margin-left: 2cm;
}

textarea{
	position: relative;
	margin-left:2cm;
	width: 60%;
	height: 220%;
}

.echelle, .resultats{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 20px;
}

#tableau
{
	margin-top: 10px;
	margin-left: 5cm;
}
textarea, button{
	margin-right: 4cm;
	margin-left: 2cm;
	margin-bottom: 0.5cm;
}

